body{
    font-family: 'Quicksand', sans-serif;
    background-color: #f2f2f2;
}

/*/////////////////////////////////////////////*/

header{
    height: 100vh;
    position: relative;
}

nav{
    position: sticky;
    top: 0;
}
.bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    filter: brightness(35%);
}
.perfil{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}
.items{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    background-color: rgb(175, 175, 175);
    padding: 7px;
}
.item{
    margin: 7px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    transition: 300ms ease-out background-color;
    cursor: pointer;
    background: rgb(235, 235, 235);
    color: rgb(32, 32, 32);
    border-radius: 10px;
}
.item a{
    text-decoration: none;
    color: unset;
}
.item:hover{
    background-color: #fff;
    color: #000;
    transition: 300ms ease-out background-color;
}
/*///////////////////////////////////*/

.header-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    color: #fff;
    font-size: 20px;
    font-weight: 200;
}
.logo{
    font-size: 2.2em;
    margin: 20px;
}

/*///////////////////////////////////////*/
.sect-sobre-mi{
    margin-top: 70px;
}
.titulo{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 60px;
}
.container-info{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
/*///////////////////////////////////////*/

.info-texto{
    width: 40%;
    min-width: 300px;
}
.info-texto h2{
    color: #222222;
    font-size: 26px;
}
.info-texto h4{
    color: #777777;
    font-size: 12px;
}
.info-texto p{
    font-size: 20px;
}
.btn-dato{
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
    color: #fff;
    background-color: #5fbd7d;
    border: 2px solid #3a744d;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms ease-out background-color;
}
.btn-dato:hover{
    background-color: #8be2a7;
    color: #3a744d;
    transition: 300ms ease-out background-color;
}
.datinha{
    height: 55px;
    background-color: #c2c2c28b;
    color: #515151;
    font-weight: 500;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;

    box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.4);
}
/*////////////////SLIDER//////////////////*/

.container-slider{
    width: 50%;
    max-width: 900px;
    min-width: 280px;
    overflow: hidden;
    box-shadow: 0 0 0 7px #fff,
                0 15px 50px;
    position: relative;
    margin-bottom: 40px;
    margin-right: 20px;
    margin: auto;
}
.slider{
    display: flex;
    width: 400%;
    height: 450px;
    margin-left: -100%;
}
.slider__section{
    width: 100%;
}
.slider__img{
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.slider__btn{
    font-size: 30px;
    position: absolute;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    top: 160px;
    margin: 15px;
    cursor: pointer;
    transition: 1s;
    display: none;
}
.slider__btn:hover{
    background-color: #fff;
    transition: 1s;
}
.slider__btn__right{
    right: 0;
}

/*//////////////////////////////////*/
.sect-mis-proyectos{
    margin-bottom: 80px;
}
.img-proyect{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.proyect{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.9)),url(https://images.unsplash.com/photo-1516259762381-22954d7d3ad2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1189&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid #000; */
    width: 60%;
    margin: auto;
    margin-top: 60px;
    padding: 40px;
    border-radius: 15px;
    flex-wrap: wrap;

    box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.289);
    -moz-box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.75);
}
.text-proyect{
    width: 400px;
    min-width: 200px;
    margin-inline: 20px;
    background-color: #e7e7e7e2;
    padding: 15px;
    border-radius: 15px;
}
.text-proyect h4{
    font-size: 24px;
    color: #2d2d2d;
}
.text-proyect p{
    color: #424242;
}
.text-proyect a{
    text-decoration: none;
    background-color: #045666c6;
    color: rgb(140, 243, 214);
    padding: 8px 20px;
    float: right;
    font-weight: bold;
    font-size: 18px;
}
/*///////////////////////////////////*/
.container-skill{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #b7b7b791;
    width: 70%;
    margin: auto;
    padding: 40px;
    margin-bottom: 80px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.289);
    -moz-box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.75);
}
.skill-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    height: 100px;
    width: 100px;
    font-size: 18px;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
}
.skill-box i{
    font-size: 60px;
}
.skill-box p{
    line-height: 0;
    font-weight: bold;
}

/*//////////////////////////////////////*/

.html{
    background-color: #e84118;
    color: #431206;
}
.css{
    background-color: #1B9CFC;
    color: #092f4c;
}
.js{
    background-color: #fed330;
    color: #443603;
}
.react{
    background-color: #4bcffa;
    color: #105182;
}
.nodejs{
    background-color: #05c46b;
    color: #014726;
}
.tailwind{
    background-color: #aae4f3;
    color: #01b7d6;
}
.tailwind-img{
    width: 70px;
}
.git{
    background-color: #EE5A24;
    color: #41190a;
}
/*////////////////////////////*/

footer{
    height: 100vh;
    position: relative;
}
footer nav{
    position: sticky;
    bottom: 0;
    top: unset;
}

footer h3{
    color: rgb(207, 207, 207);
}
/*////////////////////////////*/

.contenedor-form{
    background-color: #fff;
    width: 60%;
    margin: auto;
    max-width: 400px;
    min-width: 240px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin-bottom: 34px;
}
.formulario{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}
.form-input{
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;
}
.form-input-msg{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}
.btn-form{
    font-size: 1rem;
    background-color: #089;
    color: #fff;
    border: none;
    font-weight: 800;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    transition: 300ms ease-out background-color;
}
.btn-form:hover{
    background-color: rgb(89, 198, 212);
    transition: 300ms ease-out background-color;
}
/*/////////////////////////////*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*//////////////////////////////////*/

@media only screen and (max-width: 650px) {
    .item a{
        font-size: 16px;
    }
  }

@media only screen and (max-width: 545px) {

  }