---
import Tarjeta from "./Tarjeta.astro";

---

<section class="sect-mis-proyectos" id="proyectos">
    <h3 id="proyectos" class="titulo">MIS PROYECTOS <i class="fa-solid fa-laptop-code"></i></h3>
    <div class="container-proyectos">

        <Tarjeta imagen="https://cdn.dribbble.com/users/488615/screenshots/15350673/media/17481916bd391e72d1f4e95fe196fb6d.png?resize=400x0" titulo="Trabajos ilustrativos" parrafo="Mi portafolio de mis trabajos ilustrativos, material subido a PINTEREST" link="https://ar.pinterest.com/kntdisenhos/_created/"/>

        <Tarjeta imagen="./img-proyects/logo-pescadito.png" titulo="Pescadito Menú" parrafo="Menu responsivo para un restaurante, hecho con HTML-CSS-JAVASCRIPT" link="https://menu-restaurant-test.netlify.app/"/>

        <Tarjeta imagen="./img-proyects/pomodoro.png" titulo="Pomodoro APP" parrafo="App con reloj programado como el metodo pomodoro. Tiene una mini app para agregar tareas, hecho con HTML-CSS-JAVASCRIPT" link="https://leafy-elf-927ab1.netlify.app/"/>

        <Tarjeta imagen="https://i0.wp.com/expotecnica.com.ar/wp-content/uploads/avatars/322/5faab10ae0055-bpfull.png?resize=300%2C300&ssl=1" titulo="Emelec SA" parrafo="Página realizada para la empresa Emelec SA. Elaborada con el lenguaje ASTRO.JS" link="https://emelec-test.netlify.app/"/>

        <Tarjeta imagen="https://i.scdn.co/image/ab67616d0000b2734e817dc073dd25045cc4c4da" titulo="Vagobeat" parrafo="Página realizada para la banda de punk conocida como VAGOBEAT. Elaborada con el lenguaje ASTRO.JS" link="https://vagobeat.netlify.app/"/>

    </div>
</section>

<style>
.titulo{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 20px;
}

.sect-mis-proyectos{
    margin-bottom: 50px;
}

</style>